<header>
  <mat-toolbar color="primary">
    <button mat-button (click)="openLogin()">Login</button>
    <span class="flex-spacer"></span>
    <button mat-button (click)="openIncendio()">Incendio</button>
    <button mat-button (click)="openLugar()">Lugar</button>
  </mat-toolbar>
</header>


<div class="dashboard-container">
  <div class="main-content">
    <div class="">
      <div id="map" [style.height]="height" [style.width]="width"></div>

    </div>
  </div>

  <mat-sidenav mode="side" opened="true" class="sidenav">
    <app-notificaciones></app-notificaciones>
  </mat-sidenav>


</div>

<footer></footer>